<h1>Editing Book</h1>

<%= form_with model: @book do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, value: @book.title %>
  <%= form.label :body %>
  <%= form.text_area :body, value: @book.body %>
  <%= form.submit "Update Book" %>
<% end %>

<p>
  <%= link_to "Show", book_path(@book.id) %>
   |
  <%= link_to "Back", books_path %>
</p>