<h1>Editing Book</h1>

<%= form_with model: @book do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.label :title %>
  <%= form.text_field :title, value: @book.title %>
  <%= form.label :body %>
  <%= form.text_area :body, value: @book.body %>
  <%= form.submit "Update Book" %>
<% end %>

<p>
  <%= link_to "Show", book_path(@book.id) %>
   |
  <%= link_to "Back", books_path %>
</p>